<div id="<%= dom_id phone_contact %>">
  <p>
    <strong>Firstname:</strong>
    <%= phone_contact.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= phone_contact.lastname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= phone_contact.phone %>
  </p>

</div>
