<h1>Editing phone contact</h1>

<%= render "form", phone_contact: @phone_contact %>

<br>

<div>
  <%= link_to "Show this phone contact", @phone_contact %> |
  <%= link_to "Back to phone contacts", phone_contacts_path %>
</div>
